# MoySklad
MOYSKLAD_TOKEN=6975e188b8f9fffa03957b3eecc2598c3e99fd5a

# Telegram
TELEGRAM_BOT_TOKEN=8921043959:AAGlf9C2mA54As92xoFh-0WQd1PHVBXPsPc
TELEGRAM_ADMIN_ID=17666515

# Click Payment
CLICK_SERVICE_ID=72796
CLICK_MERCHANT_ID=39704
CLICK_SECRET_KEY=WMrDq56LGIDkb7
CLICK_MERCHANT_USER_ID=55525

# App
PORT=3000
APP_URL=https://your-app.railway.app
